main{
    padding: 4rem;
    overflow: hidden;
}

h1{
    width: 100%;
    text-align: center;
    font-size: 6.4rem;
    font-family: var(--title);
    margin: 2rem 0;
    padding: 1rem auto;
    color: var(--blue);
    text-shadow: 0 0 10px var(--blue), 0 0 20px var(--blue);
}

#subtitle{
    opacity: 0;
    cursor: default;
    font-size: 3.6rem;
    font-family: var(--subtitle);
    color: var(--neon-yellow);
    text-shadow: 0 0 10px var(--neon-blue), 0 0 15px var(--neon-blue);
    width: 100%;
    text-align: center;
    padding: 1rem auto;
    margin: 2rem 0 5rem 0;
    transition: all 500ms ease-in-out;
}

#start{
    width: 100%;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 600ms ease-in-out;
    gap: 2rem;
}

#start #btn-start{
    padding: 4rem 8rem;
    border-radius: 30px;
    background-color: black;
    color: var(--neon-pink);
    font-family: var(--btn-start);
    text-shadow: 0 0 10px var(--neon-pink), 0 0 20px var(--neon-pink);
    box-shadow: 0 0 10px var(--neon-pink), 0 0 20px var(--neon-pink);
    cursor: pointer;
    transition: all 300ms ease-in-out;
    font-size: 3.2rem;
    border: 4px solid transparent;
    outline: none;
    animation: pulse 5000ms infinite ;

    &:hover, &:focus{
        border: 4px solid var(--neon-pink);
        animation: none;
        transform: scale(1);
    }

    &:active{
        transform: scale(0.9);
        animation: none;
    }
}

@keyframes pulse {
    0%{
        box-shadow: 0 0 1px var(--neon-pink), 0 0 2px var(--neon-pink);
    }
    
    50%{
        box-shadow: 0 0 10px var(--neon-pink), 0 0 20px var(--neon-pink);
        transform: scale(1.1);
    }
    
    100%{
        box-shadow: 0 0 1px var(--neon-pink), 0 0 2px var(--neon-pink);
        transform: scale(1);
    }
}

#start #levels-group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    margin: 3rem auto;
    
}

#start #levels-group .level{
    cursor: pointer;
    outline: none;
    border-radius: 1rem;
    padding: 1rem;
    border: 2px solid transparent;
    transition: all 300ms ease-in-out;
    background-color: black;
    min-width: 100px;
    font-family: var(--btn-levels);

    &:active, &.active{
        font-weight: 900;
    }
}

#start #levels-group #level-easy{
    color: var(--neon-green);
    text-shadow: 0 0 10px var(--neon-green), 0 0 20px var(--neon-green);
    box-shadow: 0 0 10px  var(--neon-green), 0 0 20px var(--neon-green);

    &:hover, &:focus{
        border: 2px solid var(--neon-green);
        transform: scale(1.1);
    }

    &:active, &.active{
        border: 2px solid var(--neon-green);
        transform: scale(0.9);
        background: var(--cyan-green);
        color:rgba(0, 0, 0, 0.8);
        box-shadow: var(--shadow-for-cyan-green);
        
    }
}

#start #levels-group #level-medium{
    color: var(--neon-cyan);
    text-shadow: 0 0 10px var(--neon-cyan), 0 0 20px var(--neon-cyan);
    box-shadow: 0 0 10px  var(--neon-cyan), 0 0 20px var(--neon-cyan);

    &:hover, &:focus{
        border: 2px solid var(--neon-cyan);
        transform: scale(1.1);
    }

    &:active, &.active{
        border: 2px solid var(--neon-cyan);
        transform: scale(0.9);
        background: var(--blue-cyan);
        color:rgba(0, 0, 0, 0.8);
        box-shadow: var(--shadow-for-blue-cyan);
    }
}

#start #levels-group #level-hard{
    color: var(--neon-blue);
    text-shadow: 0 0 10px var(--neon-blue), 0 0 20px var(--neon-blue);
    box-shadow: 0 0 10px  var(--neon-blue), 0 0 20px var(--neon-blue);

    &:hover, &:focus{
        border: 2px solid var(--neon-blue);
        transform: scale(1.1);
    }

    &:active, &.active{
        border: 2px solid var(--neon-blue);
        transform: scale(0.9);
        background: var(--yellow-blue);
        color:rgba(0, 0, 0, 0.8);
        box-shadow: var(--shadow-for-yellow-blue);
    }
}

#start #levels-group #level-expert{
    color: var(--neon-orange);
    text-shadow: 0 0 10px var(--neon-orange), 0 0 20px var(--neon-orange);
    box-shadow: 0 0 10px  var(--neon-orange), 0 0 20px var(--neon-orange);

    &:hover, &:focus{
        border: 2px solid var(--neon-orange);
        transform: scale(1.1);
    }

    &:active, &.active{
        border: 2px solid var(--neon-orange);
        transform: scale(0.9);
        background: var(--orange-yellow);
        color:rgba(0, 0, 0, 0.8);
        box-shadow: var(--shadow-for-orange-yellow);
    }
}

#start #levels-group #level-supreme{
    color: var(--neon-red);
    text-shadow: 0 0 10px var(--neon-red), 0 0 20px var(--neon-red);
    box-shadow: 0 0 10px  var(--neon-red), 0 0 20px var(--neon-red);

    &:hover, &:focus{
        border: 2px solid var(--neon-red);
        transform: scale(1.1);
    }

    &:active, &.active{
        border: 2px solid var(--neon-red);
        transform: scale(0.9);
        background: var(--red-orange);
        color:rgba(0, 0, 0, 0.8);
        box-shadow: var(--shadow-for-red-orange);
    }
}


#guessing{
    display: none;
    justify-content: center;
    align-items: center;
    gap: 25rem;
    transition: all 500ms ease-in-out;
}

#guessing .input-guess{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2.5rem 4rem;
    border-radius: 3rem;
    box-shadow: 0 0 10px var(--neon-pink), 0 0 20px var(--neon-pink);
    border: 2px solid var(--neon-purple);
}

#guessing .input-guess label{
    color: var(--neon-purple);
    font-size: 3.2rem;
    font-family: var(--alert-message);
    text-shadow: 0 0 10px var(--neon-red), 0 0 20px var(--neon-pink);
}

#guessing .input-guess #guess{
    width: 80%;
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid var(--purple);
    background-color: transparent;
    color: var(--purple);
    font-family: var(--subtitle);
    text-shadow: 0 0 2px var(--purple), 0 0 4px var(--purple);
    font-size: 1.6rem;
    text-align: center;
    outline: none;
    transition: all 300ms ease-in-out;
    background-color: rgba(255, 255, 255, 0.7);

    &::placeholder{
        color: rgba(0, 0, 0, 0.5);
        text-overflow: ellipsis;
        white-space: nowrap;
        text-shadow: none;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button{
        -webkit-appearance: none;
        margin: 0;
    }
    

    &:focus, &:hover{
        box-shadow: 0 0 10px var(--neon-purple), 0 0 20px var(--neon-purple);
    }
}

#guessing .input-guess #btn-guess{
    background: rgba(0, 0, 0, 0.6);
    color: var(--neon-cyan);
    font-size: 18px;
    font-family: var(--btn-guess-reset);
    padding: 10px 20px;
    border: 2px solid var(--neon-cyan);
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 100ms ease-in-out;
    box-shadow: 0 0 10px var(--neon-green), 0 0 20px var(--neon-green);

    &:hover{
        background: var(--neon-cyan);
        color: black;
        box-shadow: 0 0 15px var(--neon-green), 0 0 30px var(--neon-green);
        transform: scale(1.1);
    }

    &:active{
        background: var(--neon-cyan);
        color: black;
        box-shadow: 0 0 5px var(--neon-green), 0 0 10px var(--neon-green);
        transform: scale(0.9);
    }
}

#guessing .input-guess #btn-reset{
    background: rgba(0, 0, 0, 0.6);
    color: var(--neon-violet);
    font-size: 18px;
    font-family: var(--btn-guess-reset);
    padding: 10px 20px;
    border: 2px solid var(--neon-violet);
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 100ms ease-in-out;
    box-shadow: 0 0 10px var(--neon-pink), 0 0 20px var(--neon-pink);

    &:hover{
        background: var(--neon-violet);
        color: black;
        box-shadow: 0 0 15px var(--neon-red), 0 0 30px var(--neon-red);
        transform: scale(1.1);
    }

    &:active{
        background: var(--neon-violet);
        color: black;
        box-shadow: 0 0 5px var(--neon-red), 0 0 10px var(--neon-red);
        transform: scale(0.9);
    }
}

#guessing .attempts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 4rem;
    border-radius: 3rem;
    box-shadow: 0 0 10px white, 0 0 20px white;
    border: 2px solid #888888;
}

#guessing .attempts #attempts-message{
    color: white;
    font-size: 3.2rem;
    font-family: var(--attempts-title);
    text-transform: uppercase;
    text-shadow: 0 0 10px white, 0 0 20px white;
    text-align: center;
}

#guessing .attempts #results-list{
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    overflow-y: auto;
    max-height: 150px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 1rem;
    


    &::-webkit-scrollbar{
        width: 10px;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb{
        background-color: var(--neon-pink);
        border-radius: 10px;
    }
}


#guessing .attempts #results-list .result-message{
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text; /* old browsers compatibility */
    -moz-background-clip: text; /* old browsers compatibility */
    font-size: 1.6rem;
    font-family: var(--attempts-feedback);
    padding: 0.5rem;
    border-radius: 1rem;
    width: 100%;
    text-align: center;
}


/* endgame alert */

#endgame-alert{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    padding: 6rem;
    border-radius: 2rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: black;
    box-shadow: 0 0 10px black;
    z-index: 10;
    max-width: 90%;
    max-height: 80%;

}

#endgame-alert #endgame-title{
    font-size: 3.2rem;
    font-family: var(--alert-title);
    font-weight: 900;
    margin: 1rem 0;
}

#endgame-alert #endgame-image{
    width: 400px;
    height: 300px;
}

#endgame-alert #endgame-message{
    font-size: 1.6rem;
    text-align: center;
    color: white;
    font-family: var(--alert-message);


}

#endgame-alert #endgame-button{
    color: black;
    font-size: 1.8rem;
    font-family: var(--alert-button);
    border: none;
    padding: 1rem 2rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 200ms ease-in-out;

    &:hover, &:focus{
        transform: scale(1.05);
        outline: none;
    }
}