
:root{
    /* color pallete */

    --blue: #00bfff;
    --purple: #800080;
    --neon-pink: #ff1493;
    --neon-purple: #ff00ff;
    --neon-violet: #ee82ee;


    --neon-green: #00FF00;
    --neon-cyan: #00fa9a;
    --neon-blue: #00ffff;
    --neon-yellow: #ffff00;
    --neon-orange: #ffa500;
    --neon-red: #ff0000;

    --red-orange: linear-gradient(0deg, var(--neon-red), var(--neon-orange));
    --orange-yellow: linear-gradient(0deg, var(--neon-orange) 50%, var(--neon-yellow) 100%);
    --yellow-blue: linear-gradient(0deg,  var(--neon-yellow) 0%, var(--neon-blue) 80%);
    --blue-cyan: linear-gradient(0deg, var(--neon-blue) 0%, var(--neon-cyan) 50%);
    --cyan-green: linear-gradient(0deg, var(--neon-cyan), var(--neon-green));
    
    --shadow-for-red-orange: 0 0 5px var(--neon-orange), 0 0 10px var(--neon-red);
    --shadow-for-orange-yellow: 0 0 5px var(--neon-yellow), 0 0 10px var(--neon-orange);
    --shadow-for-yellow-blue: 0 0 5px var(--neon-blue), 0 0 10px var(--neon-yellow);
    --shadow-for-blue-cyan: 0 0 5px var(--neon-cyan), 0 0 10px var(--neon-blue);
    --shadow-for-cyan-green: 0 0 5px var(--neon-green), 0 0 10px var(--neon-cyan);
    
    


    
}



body{
    background: url(/src/images/background.jpg)  no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    backdrop-filter: brightness(0.5) blur(1px);
    
}


    